:root {
  --bg-color: #551d06;
  --palette-01: #f5f5f5;
  --palette-02: #e0e0e0;
  --text-color: #f5f5f5;
  --header-color: #993800;
}



body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

::backdrop {
  background-color: #050505;
  opacity: 0.9;
}

#supreme-container {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 75vh;
}

.header {
  background-color: var(--header-color);
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}

.main-content {
  color: rgb(255, 255, 255);
  background: linear-gradient(rgba(114, 65, 0, 0.705), rgba(0, 0, 0, 0.6)), url("assets/images/librairie-tva.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.book-parts {
  display: grid;
  grid-template: 250px / repeat(auto-fit, 300px);
  gap: 10px;
  grid-auto-rows: 250px;
  padding: 20px;
}

.book-card {
  background-color: #551d06;
  border-radius: 10px;
  color: #f5f5f5;
  padding: 10px;
}

#clock-mascot {
  width: 50px;
  height: 50px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px 20px;
}

h1 {
  font-size: 45px;
  margin: 0;
  padding: 0;
  color: #ffa600;
}

#logopart {
  color: #f5f5f5;
}

/* Book Layout */

.book-card {
  display: grid;
  grid-template: repeat(3, minmax(1fr, max-content)) 50px / 0px 4fr 1fr;
  gap: 5px;
  box-shadow: 0 0 3px #ffa600;
  align-items: start;
}

.book-pic {
  background-color: #e0e0e0;
  color: black;
  grid-area: 1 / 1 / 4 / 2;
}

.book-title {
  grid-area: 1 / 2 / 2 / 4;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

.book-writer {
  grid-area: 2 / 2 / 3 / 3;
  font-size: 1.1rem;
  color: #e0e0e0;
  font-style: italic;
  font-weight: 600;
}

.book-page {
  grid-area: 2 / 3 / 3 / 4;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
}

.book-year {
  grid-area: 3 / 2 / 4 / 3;
  text-decoration: underline;
  font-size: 1.1rem;
}

.book-note {
  grid-area: 3 / 3 / 4 / 4;
  font-family: sans-serif;
  font-weight: 900;
  color: #ffa600;
}

.del-button {
  grid-area: 4 / 1 / 5 / 4;
}

button.del-button {
  padding: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  background-color: rgb(136, 0, 0);
  color: #e0e0e0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 800;
}

button.del-button:hover {
  background-color: red;
}

form button {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

button.addBookButton {
  background-color: #ffa600;
  color: #f5f5f5;
  font-size: 1.3rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

button.addBookButton:hover {
  background-color: #ff7b00;
  box-shadow: 0 1px 2px #050505;
}

dialog {
  /* background: linear-gradient(rgba(114, 65, 0, 0.705), rgba(0, 0, 0, 0.6)), url("assets/images/librairie-tva.png"); */
  background-color: #993800;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  border-radius: 30px;
  padding: 20px 30px;
}

label {
  font-size: 1.4rem;
  color: #e0e0e0;
  font-weight: 500;
}

label::after {
  content: "*";
}

form div.infos {
  display: flex;
  flex-flow: column;
  margin: 20px;
}

input {
  box-sizing: border-box;
  height: 30px;
  outline: none;
  background-color: #551d06;
  border: 1px solid #ffa600;
  border-radius: 5px;
  color: #e0e0e0;
  font-size: 1.2rem;
  padding: 1px 5px;
}

input:focus {
  outline: 1px solid #ffbb00;
}

.btn-place {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-place button {
  flex: 1 1 0;
}